<%#providerがみる商品一覧%>
<div class="container">
  <div class="alert alert-info" role="alert"><h1>登録したカップホルダー一覧</h1></div>
  
  <% @items.each do |item| %>
  
  <div class="media pt-3">
    <% if item.images.attached? %>
      <% item.images.each do |image| %>
        <%= image_tag image, size: "180x180" %>
      <% end %>
    <% end %>
      <div class="media-body">
        <h5 class="mt-0"><%= link_to item.name, provider_item_path(item) %></h5>
        <p class="mb-0"><%= item.text %></p>
        <%= link_to "編集", edit_provider_item_path(item) %>
        <%= link_to "削除", provider_item_path(item), method: "DELETE" %>
     </div>
  </div>
  <% end %>
</div>
  
    
